/* Färgkoder */
// Bakgrunder
$mainbackground: #CEB6AA;
$cv-background: #F5F5F5;

// Knappar
$login-submit: #4a797c;
$login-submit-hover: #257379;
$logout: #46433C;
$logout-hover: #60686A;

// Footer
$footerbackground: #698589;