@use "base";

// Knappar
/* Logga in-knapp */
@mixin button-base {
    width: 260px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}
#loginBtn {
    @include button-base;
    background-color: base.$login-submit;
}

#loginBtn:hover {
    background-color: base.$login-submit-hover;
}

/* Logga ut-knapp */
#log-out {
    @include button-base;
    margin: 20px auto;
    background-color: base.$logout;
}
#log-out:hover {
    background-color: base.$logout-hover;
}
/* Skapa konto-knapp */
#submitUser {
    @include button-base;
    background-color: base.$login-submit;
}
#submitUser:hover {
    background-color: base.$login-submit-hover;
}

// Formulär 
@mixin form-base {
    width: 300px;
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #f9f9f9;
}
/* Logga in-formulär */
#loginForm {
    @include form-base;
}
/* Labels*/
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
/* Input-fält */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
/* Skapa användare-formulär */
#userForm {
    @include form-base;
}

/* Felmeddelanden */
#errorMsg, #error-message {
    color: red;
    margin-bottom: 15px;
}

/* Stil för länk */
#user a {
    color: #0056b3;
    text-decoration: none;
}

#user a:hover {
    text-decoration: underline;
}

/* Popup-meddelande när användare skapas */
.popup {
    position: fixed;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #46505a;
    color: white;
    padding: 50px 35px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none; // Dölj först
}

.popup.show {
    display: block; // Visa när användare är skapad
}
.popup a {
    color: #fff;
}
.popup a:hover {
    color:#0056b3;
}