@use "base";

// Knappar
/* Logga in-knapp */
@mixin button-base {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}
#loginBtn {
    @include button-base;
    background-color: #577492;
}

#loginBtn:hover {
    background-color: #007bff;
}

/* Logga ut-knapp */
#log-out {
    @include button-base;
    width: 15%;
    margin: 20px auto;
    background-color: #577492;
}
#log-out:hover {
    background-color: #387bc9;
}

/* Skapa konto-knapp */
#submitUser {
    @include button-base;
    background-color: #577492;
}
#submitUser:hover {
    background-color: #082a4e;
}
// Formulär 
@mixin form-base {
    width: 300px;
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #f9f9f9;
}
/* Logga in-formulär */
#loginForm {
    @include form-base;
}

/* Labels*/
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Input-fält */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Skapa användare-formulär */
#userForm {
    @include form-base;
}

/* Felmeddelande */
#errorMsg {
    color: red;
    margin-bottom: 15px;
}

/* Stil för länk */
#user a {
    color: #007bff;
    text-decoration: none;
}

#user a:hover {
    text-decoration: underline;
}

/* Popup-meddelande när användare skapas */
.popup {
    position: fixed;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #46505a;
    color: white;
    padding: 50px 35px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none; // Dölj först
}

.popup.show {
    display: block; // Visa när användare är skapad
}