@use "base";

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: beige;
    font-family: "Montserrat", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 70%;
    margin: 40px auto;
    border-radius: 8px;
    background-color: base.$mainbackground;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#intro {
    text-align: center;
    margin-bottom: 5%;
}

#work-container {
    width: 60%;
    margin: 30px auto;
    background-color: base.$cv-background;

    p {
        text-align: left;
    }

    h3, h4, p {
        margin: 10px 10px;
    }
}

article>div {
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

/* Footer */
footer {
    flex-shrink: 0;
    background-color: base.$footerbackground;
    font-size: 16px;
    width: 100%;
    height: 100px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    line-height: 40px;
    text-align: center;
}
